@import '~antd/dist/antd.css';

.App {
  width: 60rem;
  margin: 0 auto;
}

main {
  gap: 1rem;
  margin: 2rem 0;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
}

aside {
  top: 0;
  width: inherit;
  height: 4rem;
  display: flex;
  z-index: 10;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

aside .sort-by-type {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.gallery {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery > .card {
  width: 30%;
}

@media (max-width: 980px) {
  .App {
    width: 100%;
  }

  main {
    top: 6rem;
    margin: .5rem 0;
    padding: 1rem;
    position: relative;
  }
  
  aside {
    gap: 1rem;
    height: 8rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  
  .list-item {
    text-align: center;
  }

  .gallery > .card {
    width: 46%;
  }
}
